<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChangeAppIcon"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:windowSoftInputMode="adjustNothing"/>

        <activity-alias
            android:name="com.demo.dynamiclaunchericon.alias.BlueLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blue"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_blue_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Red Icon -->
        <activity-alias
            android:name="com.demo.dynamiclaunchericon.alias.RedLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_red"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_red_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- glaze icon -->
        <activity-alias
            android:name="com.demo.dynamiclaunchericon.alias.GlazeLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_glaze"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_glaze_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- black glaze -->
        <activity-alias
            android:name="com.demo.dynamiclaunchericon.alias.BlackLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_black"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_black_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Default Icon -->
        <activity-alias
            android:name="com.demo.dynamiclaunchericon.alias.DefaultLauncher"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>